/*=====footer social container=====*/
.footer-social {
  margin-left: 73px;
  fill: var(--body-background-color);
  & .footer-social-item {
    background-color: rgba(255, 255, 255, 0.1);
  }
  & h3 {
    @include font(14px, 700, 16px);

    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--body-background-color);
    margin-bottom: 20px;
  }
}

/*=====end footer social container=====*/
